openapi: 3.0.3
info:
  title: Adaptive Network Lab API
  description: |-
    Dokumentasi lengkap mengenai semua API yang ada
  version: 1.0.1
servers:
  - url: https://api.adaptivenetlab.site/v1
tags:
  - name: User Dashboard
    description: Dashboard User
  - name: Landing Page
    description: Landing Page Editor
  - name: Prestasi
    description: To Do Next
  - name: Alumni
    description: To Do Next
  - name: Active Member
    description: To Do Next
  - name: Kegiatan
    description: To Do Next
paths:
  /landing-page/tentang-kami:
    post:
      tags: 
        - Landing Page
      summary: Landing Page Tentang Kami
    get:
      tags: 
        - Landing Page
      summary: Landing Page Tentang Kami
  /landing-page/tentang-kami-sejarah:
    post:
      tags: 
        - Landing Page
      summary: Landing Page Sejarah Lab
    get:
      tags: 
        - Landing Page
      summary: Landing Page Sejarah Lab
  /landing-page/tentang-kami-sejarah/{uid}:
    put:
      tags: 
        - Landing Page
      summary: Perbarui Data Berdasarkan ID
    delete:
      tags: 
        - Landing Page
      summary: Hapus data berdasarkan ID
  /landing-page/tentang-kami/{uid}:
    put:
      tags: 
        - Landing Page
      summary: Perbarui Data Berdasarkan ID
    delete:
      tags: 
        - Landing Page
      summary: Hapus data berdasarkan ID
  /landing-page/struktur-organisasi:
    post:
      tags: 
        - Landing Page
      summary: Landing Page Struktur Organisasi
    get:
      tags: 
        - Landing Page
      summary: Landing Page Struktur Organisasi
  /landing-page/struktur-organisasi/{uid}:
    get:
      tags: 
        - Landing Page
      summary: List data berdasarkan ID
    put:
      tags: 
        - Landing Page
      summary: Perbarui Data Berdasarkan ID
    delete:
      tags: 
        - Landing Page
      summary: Hapus data berdasarkan ID
  /landing-page/sambutan-pembina:
    post:
      tags: 
        - Landing Page
      summary: Landing Page Sambutan Pembina
    get:
      tags: 
        - Landing Page
      summary: Landing Page Sambutan Pembina
  /landing-page/sambutan-pembina/{id}:
    get:
      tags: 
        - Landing Page
      summary: List data berdasarkan ID
    put:
      tags: 
        - Landing Page
      summary: Perbarui Data Berdasarkan ID
    delete:
      tags: 
        - Landing Page
      summary: Hapus data berdasarkan ID
  /dashboard/user/login:
    post:
      tags:
        - User Dashboard
      summary: Login akun yang telah terdaftar
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/login'
      responses:
        '201':
          description: created
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message":"Login berhasil",
                  "data": {
                    "userId": "1",
                    "name": "Naoval Annasik",
                    "username": "annasiknvl",
                    "email": "annasiknvl@example.com",
                    "roleId": 1,
                    "token": "token-here"
                  }
                }
  /dashboard/user/register:
    post:
      tags:
        - User Dashboard
      summary: Buat dan daftar akun baru
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/register'
      responses:
        '201':
          description: created
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message":"User berhasil ditambahkan",
                  "data": {
                    "userId": "1",
                    "name": "Naoval Annasik",
                    "username": "annasiknvl",
                    "email": "annasiknvl@example.com",
                    "roleId": 1,
                    "createdAt": "userSaved.createdAt",
                    "updatedAt": "userSaved.updatedAt"
                  }
                }
        '400':
          description: Bad Request
        '409':
          description: Conflict
          content:
            application/json:
              examples:
                emailExist:
                  value:
                    {
                      message: "Email already exists"
                    }
                usernameExist:
                  value:
                    {
                      message: "Username already exists"
                    }
  /dashboard/user/:
    get:
      security:
        - AuthToken: []
      tags:
        - User Dashboard
      summary: Daftar akun yang terdaftar
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "Daftar user berhasil didapatkan",
                  "data": {
                    "_id": "641449298fc28ccb4f548c5d",
                    "userId": "e8e59d4c-d929-4b7e-afe7-632efd8bec30",
                    "name": "Naoval Annasik",
                    "username": "annasiknvl",
                    "password": "$2b$10$FpiVDEbcTci2kV9hcgaTwex./eyBDrUoOPtzSMjZU5I93qIutgJQ2",
                    "email": "annasiknvl@example.com",
                    "roleId": 1,
                    "createdAt": "2023-03-17T11:04:09.588Z",
                    "updatedAt": null
                  }
                }
        '400':
          $ref: '#/components/responses/Unauthorized'
  /dashboard/user/{userId}:
    get:
      security:
        - AuthToken: []
      tags:
        - User Dashboard
      summary: Melihat detail user berdasarkan ID
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: string
          description: ID dari user
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "User berhasil didapatkan",
                  "data": {
                    "_id": "641449298fc28ccb4f548c5d",
                    "userId": "e8e59d4c-d929-4b7e-afe7-632efd8bec30",
                    "name": "Naoval Annasik",
                    "username": "annasiknvl",
                    "password": "$2b$10$FpiVDEbcTci2kV9hcgaTwex./eyBDrUoOPtzSMjZU5I93qIutgJQ2",
                    "email": "annasiknvl@example.com",
                    "roleId": 1,
                    "createdAt": "2023-03-17T11:04:09.588Z",
                    "updatedAt": null
                  }
                }
        '404':
          description: User not found
    put:
      security:
        - AuthToken: []
      tags:
        - User Dashboard
      summary: Memperbarui detail user berdasarkan ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/register'
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: string
          description: ID dari user
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "User berhasil diupdate",
                }
        '404':
          description: User not found
    delete:
      security:
        - AuthToken: []
      tags:
        - User Dashboard
      summary: Menghapus User berdasarkan ID
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: string
          description: ID dari user
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "success": "success",
                  "message": "User berhasil dihapus"
                }   
        '404':
          description: User not found
components:
  responses:
    Unauthorized:
      description: not authorized to access the resource
      content:
        application/json:
          examples:
            Unauthorized:
              value:
                {
                  "status": "Unauthorized",
                  "message": "No Token, Access denied",
                  "success": false
                }
            invalidToken:
              value:
                {
                  "status": "Unauthorized",
                  "message": "Invalid Token",
                  "success": false
                }
            invalidRole:
              value:
                {
                  "message": "You are not authorized to access this resource",
                  "success": false
                }
  schemas:
    login:
      type: object
      properties:
        username:
          type: string
          example: annasiknvl
        password:
          type: string
          example: 12345678
    register:
      type: object
      properties:
        name:
          type: string
          example: Naoval Annasik
        username:
          type: string
          example: annasiknvl
        password:
          type: string
          example: 12345678
        email:
          type: string
          example: annasiknvl@example.com
        roleId:
          type: string
          example: 1
  securitySchemes:
    AuthToken:
      type: apiKey
      name: auth-token
      in: header
security:
  - AuthToken: []
