openapi: 3.0.3
info:
  title: Adaptive Network Lab API
  description: |-
    Dokumentasi lengkap mengenai semua API yang ada
    Lakukan login terlebih dahulu (daftar jika belum memiliki akun) untuk mendapatkan auth-token, lalu input pada menu Authorize 
  version: 1.0.1
servers:
  - url: https://api.adaptivenetlab.site/v1
tags:
  - name: User Dashboard
    description: Dashboard User
  - name: Landing Page
    description: Landing Page Editor
  - name: Active Member
    description: Active Member Page 
  - name: Alumni
    description: Alumni Page
  - name: Kegiatan
    description: Kegiatan Lab Page
  - name: Sertifikat
    description: Page Sertifikat (Masih Template)
  - name: Prestasi
    description: To Do Next
paths:
  /dashboard/sertifikat/:
    post:
      security:
        - AuthToken: []
      summary: Input data sertifikat
      tags: 
        - Sertifikat
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/kegiatan'
      responses:
        '201':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "Kegiatan berhasil ditambahkann",
                  "data": {
                    "uid": "4d3583e4-2f80-4b1f-b357-8813ed5da228",
                    "judul": "Judul utama",
                    "subJudul": "Sub Judul",
                    "isi": "Isi dari kegiatan",
                    "divisi": "Riset",
                    "imageUrl": "s3.adaptivenetworklab.org:9000/website/Kegiatan-Judul utama-Riset.Upload-At-2023-04-09.jpg",
                    "updateAt": null,
                    "_id": "6432ea01bee853f20b8c0c2a",
                    "createdAt": "2023-04-09T16:38:25.124Z"
                  }
                }
        '400':
          description: Invalid Token
    get:
      summary: Daftar data sertifikat
      tags: 
        - Sertifikat
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "kegiatan berhasil ditampilkan",
                  "data": [
                    {
                      "uid": "4d3583e4-2f80-4b1f-b357-8813ed5da228",
                      "judul": "Judul utama",
                      "subJudul": "Sub Judul",
                      "isi": "Isi dari kegiatan",
                      "divisi": "Riset",
                      "imageUrl": "s3.adaptivenetworklab.org:9000/website/Kegiatan-Judul utama-Riset.Upload-At-2023-04-09.jpg",
                      "updateAt": null,
                      "createdAt": "2023-04-09T16:38:25.124Z"
                    },
                    {
                      "uid": "8d5feead-b0b1-4f68-acb3-b57bb0f31993",
                      "judul": "Judul utama 2",
                      "subJudul": "Sub Judul 2",
                      "isi": "Isi dari kegiatan 2",
                      "divisi": "Riset",
                      "imageUrl": "s3.adaptivenetworklab.org:9000/website/Kegiatan-Judul utama 2-Riset.Upload-At-2023-04-09.jpg",
                      "updateAt": null,
                      "createdAt": "2023-04-09T16:39:40.781Z"
                    }
                  ]
                }
        '400':
          description: Invalid Token
        '404':
          description: UID not found
          content:
            application/json:
              example:
                {
                  "status": "error",
                  "message": "Tidak ada data"
                }
  /dashboard/sertifikat/{uid}:
    get:
      summary: Tampilkan data Sertifikat berdasarkan UID
      parameters:
        - in: path
          name: uid
          required: true
          schema:
            type: string
          description: UID
      tags: 
        - Sertifikat
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "Tentang Kami berhasil ditampilkan",
                  "data":
                  {
                   "uid": "40a75079-8386-4554-9285-f084bd792a7b",
                    "nama": "Naoval Annasik",
                    "tahunAngkatan": "2019",
                    "judulTA": "Pengalaman saya di Program Bangkit 2022 dan Saat menjadi anak magang di paragon corp",
                    "profesi": "Masih jadi Anak Magang",
                    "quote": "Adaptive joss",
                    "asalLab": "Adaptive Network Laboratory",
                    "imageUrl": "s3.adaptivenetworklab.org:9000/website/Alumni-Adaptive Network Laboratory.Naoval Annasik.Upload-At-2023-03-30.jpg",
                    "instagram": "instagram.com/adaptivenetlab",
                    "linkedIn": "linkedin.com/in/annasik",
                    "email": "annasiknvl@example.com",
                    "updateAt": null,
                    "createdAt": "2023-03-30T21:46:10.715Z"
                  }
                }
        '400':
          description: Invalid Token
    put:
      security:
        - AuthToken: []
      summary: Ubah data Sertifikat berdasarkan UID
      tags: 
        - Sertifikat
      parameters:
        - in: path
          name: uid
          required: true
          schema:
            type: string
          description: UID
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/kegiatan'
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "Kegiatan berhasil diubah"
                }
        '404':
          description: UID not found
          content:
            application/json:
              example:
                {
                  "status": "error",
                  "message": "Tidak ada data"
                }
    delete:
      security:
        - AuthToken: []
      tags: 
        - Sertifikat
      summary: Hapus data Sertifikat berdasarkan UID
      parameters:
        - in: path
          name: uid
          required: true
          schema:
            type: string
          description: UID
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "Kegiatan berhasil dihapus"
                }
        '404':
          description: UID not found
          content:
            application/json:
              example:
                {
                  "status": "error",
                  "message": "Tidak ada data"
                }
  /dashboard/kegiatan/:
    post:
      security:
        - AuthToken: []
      summary: Input data kegiatan
      tags: 
        - Kegiatan
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/kegiatan'
      responses:
        '201':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "Kegiatan berhasil ditambahkann",
                  "data": {
                    "uid": "4d3583e4-2f80-4b1f-b357-8813ed5da228",
                    "judul": "Judul utama",
                    "subJudul": "Sub Judul",
                    "isi": "Isi dari kegiatan",
                    "divisi": "Riset",
                    "imageUrl": "s3.adaptivenetworklab.org:9000/website/Kegiatan-Judul utama-Riset.Upload-At-2023-04-09.jpg",
                    "updateAt": null,
                    "_id": "6432ea01bee853f20b8c0c2a",
                    "createdAt": "2023-04-09T16:38:25.124Z"
                  }
                }
        '400':
          description: Invalid Token
    get:
      summary: Daftar data alumni
      tags: 
        - Kegiatan
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "kegiatan berhasil ditampilkan",
                  "data": [
                    {
                      "uid": "4d3583e4-2f80-4b1f-b357-8813ed5da228",
                      "judul": "Judul utama",
                      "subJudul": "Sub Judul",
                      "isi": "Isi dari kegiatan",
                      "divisi": "Riset",
                      "imageUrl": "s3.adaptivenetworklab.org:9000/website/Kegiatan-Judul utama-Riset.Upload-At-2023-04-09.jpg",
                      "updateAt": null,
                      "createdAt": "2023-04-09T16:38:25.124Z"
                    },
                    {
                      "uid": "8d5feead-b0b1-4f68-acb3-b57bb0f31993",
                      "judul": "Judul utama 2",
                      "subJudul": "Sub Judul 2",
                      "isi": "Isi dari kegiatan 2",
                      "divisi": "Riset",
                      "imageUrl": "s3.adaptivenetworklab.org:9000/website/Kegiatan-Judul utama 2-Riset.Upload-At-2023-04-09.jpg",
                      "updateAt": null,
                      "createdAt": "2023-04-09T16:39:40.781Z"
                    }
                  ]
                }
        '400':
          description: Invalid Token
        '404':
          description: UID not found
          content:
            application/json:
              example:
                {
                  "status": "error",
                  "message": "Tidak ada data"
                }
  /dashboard/kegiatan/{uid}:
    get:
      summary: Tampilkan data kegiatan berdasarkan UID
      parameters:
        - in: path
          name: uid
          required: true
          schema:
            type: string
          description: UID
      tags: 
        - Kegiatan
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "Tentang Kami berhasil ditampilkan",
                  "data":
                  {
                   "uid": "40a75079-8386-4554-9285-f084bd792a7b",
                    "nama": "Naoval Annasik",
                    "tahunAngkatan": "2019",
                    "judulTA": "Pengalaman saya di Program Bangkit 2022 dan Saat menjadi anak magang di paragon corp",
                    "profesi": "Masih jadi Anak Magang",
                    "quote": "Adaptive joss",
                    "asalLab": "Adaptive Network Laboratory",
                    "imageUrl": "s3.adaptivenetworklab.org:9000/website/Alumni-Adaptive Network Laboratory.Naoval Annasik.Upload-At-2023-03-30.jpg",
                    "instagram": "instagram.com/adaptivenetlab",
                    "linkedIn": "linkedin.com/in/annasik",
                    "email": "annasiknvl@example.com",
                    "updateAt": null,
                    "createdAt": "2023-03-30T21:46:10.715Z"
                  }
                }
        '400':
          description: Invalid Token
    put:
      security:
        - AuthToken: []
      summary: Ubah data kegiatan berdasarkan UID
      tags: 
        - Kegiatan
      parameters:
        - in: path
          name: uid
          required: true
          schema:
            type: string
          description: UID
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/kegiatan'
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "Kegiatan berhasil diubah"
                }
        '404':
          description: UID not found
          content:
            application/json:
              example:
                {
                  "status": "error",
                  "message": "Tidak ada data"
                }
    delete:
      security:
        - AuthToken: []
      tags: 
        - Kegiatan
      summary: Hapus data kegiatan berdasarkan UID
      parameters:
        - in: path
          name: uid
          required: true
          schema:
            type: string
          description: UID
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "Kegiatan berhasil dihapus"
                }
        '404':
          description: UID not found
          content:
            application/json:
              example:
                {
                  "status": "error",
                  "message": "Tidak ada data"
                }
  /dashboard/alumni/:
    post:
      security:
        - AuthToken: []
      summary: Input data alumni baru
      tags: 
        - Alumni
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/alumni'
      responses:
        '201':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "Tentang Kami berhasil ditambahkan",
                  "data": {
                    "uid": "40a75079-8386-4554-9285-f084bd792a7b",
                    "nama": "Naoval Annasik",
                    "tahunAngkatan": "2019",
                    "judulTA": "Pengalaman saya di Program Bangkit 2022 dan Saat menjadi anak magang di paragon corp",
                    "profesi": "Masih jadi Anak Magang",
                    "quote": "Adaptive joss",
                    "asalLab": "Adaptive Network Laboratory",
                    "imageUrl": "s3.adaptivenetworklab.org:9000/website/Alumni-Adaptive Network Laboratory.Naoval Annasik.Upload-At-2023-03-30.jpg",
                    "instagram": "instagram.com/adaptivenetlab",
                    "linkedIn": "linkedin.com/in/annasik",
                    "email": "annasiknvl@example.com",
                    "updateAt": null,
                    "_id": "6426032218b7e32aa3a0adb8",
                    "createdAt": "2023-03-30T21:46:10.715Z"
                  }
                }
        '400':
          description: Invalid Token
    get:
      security:
        - AuthToken: []
      summary: Daftar data alumni
      tags: 
        - Alumni
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "Tentang Kami berhasil ditampilkan",
                  "data": 
                  {
                    "uid": "40a75079-8386-4554-9285-f084bd792a7b",
                    "nama": "Naoval Annasik",
                    "tahunAngkatan": "2019",
                    "judulTA": "Pengalaman saya di Program Bangkit 2022 dan Saat menjadi anak magang di paragon corp",
                    "profesi": "Masih jadi Anak Magang",
                    "quote": "Adaptive joss",
                    "asalLab": "Adaptive Network Laboratory",
                    "imageUrl": "s3.adaptivenetworklab.org:9000/website/Alumni-Adaptive Network Laboratory.Naoval Annasik.Upload-At-2023-03-30.jpg",
                    "instagram": "instagram.com/adaptivenetlab",
                    "linkedIn": "linkedin.com/in/annasik",
                    "email": "annasiknvl@example.com",
                    "updateAt": null,
                    "createdAt": "2023-03-30T21:46:10.715Z"
                  }
                }
        '400':
          description: Invalid Token
        '404':
          description: UID not found
          content:
            application/json:
              example:
                {
                  "status": "error",
                  "message": "Tidak ada data"
                }
  /dashboard/alumni/{uid}:
    get:
      security:
        - AuthToken: []
      summary: Tampilkan data alumni berdasarkan UID
      parameters:
        - in: path
          name: uid
          required: true
          schema:
            type: string
          description: UID
      tags: 
        - Alumni
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "Tentang Kami berhasil ditampilkan",
                  "data":
                  {
                   "uid": "40a75079-8386-4554-9285-f084bd792a7b",
                    "nama": "Naoval Annasik",
                    "tahunAngkatan": "2019",
                    "judulTA": "Pengalaman saya di Program Bangkit 2022 dan Saat menjadi anak magang di paragon corp",
                    "profesi": "Masih jadi Anak Magang",
                    "quote": "Adaptive joss",
                    "asalLab": "Adaptive Network Laboratory",
                    "imageUrl": "s3.adaptivenetworklab.org:9000/website/Alumni-Adaptive Network Laboratory.Naoval Annasik.Upload-At-2023-03-30.jpg",
                    "instagram": "instagram.com/adaptivenetlab",
                    "linkedIn": "linkedin.com/in/annasik",
                    "email": "annasiknvl@example.com",
                    "updateAt": null,
                    "createdAt": "2023-03-30T21:46:10.715Z"
                  }
                }
        '400':
          description: Invalid Token
    put:
      security:
        - AuthToken: []
      summary: Ubah data alumni berdasarkan UID
      tags: 
        - Alumni
      parameters:
        - in: path
          name: uid
          required: true
          schema:
            type: string
          description: UID
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/alumni'
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "Tentang Kami berhasil diubah"
                }
        '404':
          description: UID not found
          content:
            application/json:
              example:
                {
                  "status": "error",
                  "message": "Tidak ada data"
                }
    delete:
      security:
        - AuthToken: []
      tags: 
        - Alumni
      summary: Hapus data alumni berdasarkan UID
      parameters:
        - in: path
          name: uid
          required: true
          schema:
            type: string
          description: UID
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "Tentang Kami berhasil dihapus"
                }
        '404':
          description: UID not found
          content:
            application/json:
              example:
                {
                  "status": "error",
                  "message": "Tidak ada data"
                }
  /dashboard/active-member/:
    post:
      security:
        - AuthToken: []
      tags: 
        - Active Member
      summary: Input data anggota aktif
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/activemember'
      responses:
        '201':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "Tentang Kami berhasil ditambahkan",
                  "data": {
                    "uid": "3cebde8f-9a07-4408-b8b7-8d4315d3bda9",
                    "nama": "Naoval Annasik",
                    "jabatan": "Anggota",
                    "divisi": "Riset",
                    "tahunAngkatan": "2020",
                    "imageUrl": "s3.adaptivenetworklab.org/website/Active-Member-Anggota.Naoval Annasik.Upload-At-2023-03-29.jpg",
                    "updateAt": null,
                    "_id": "6424689f7a45fb8c4031acc3",
                    "createdAt": "2023-03-29T16:34:39.298Z"
                  }
                }
        '400':
          description: Invalid Token
    get:
      security:
        - AuthToken: []
      summary: Daftar data anggota aktif
      tags: 
        - Active Member
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "Tentang Kami berhasil ditampilkan",
                  "data": [
                  {
                    "uid": "6209896e-5309-464d-82ed-56bd37661fb7",
                    "nama": "Naoval Annasik",
                    "jabatan": "Anggota",
                    "divisi": "Alumni",
                    "tahunAngkatan": "2019",
                    "imageUrl": "s3.adaptivenetworklab.org/website/Active-Member-Anggota.Naoval Annasik.Upload-At-2023-03-29.jpg",
                    "instagram": "instagram.com/adaptivenetlab",
                    "linkedIn": "linkedin.com/in/annasik",
                    "email": "annasiknvl@example.com",
                    "updateAt": null,
                    "createdAt": "2023-03-29T08:26:42.191Z"
                  },
                  {
                    "uid": "3cebde8f-9a07-4408-b8b7-8d4315d3bda9",
                    "nama": "Gilang Virga Perdana",
                    "jabatan": "Kepala Divisi",
                    "divisi": "Riset",
                    "tahunAngkatan": "2019",
                    "imageUrl": "s3.adaptivenetworklab.org/website/Active-Member-Anggota.Gilang Virga Perdana.Upload-At-2023-03-29.jpg",
                    "instagram": "instagram.com/adaptivenetlab",
                    "linkedIn": "linkedin.com/in/gilangvperdana",
                    "email": "gilangvperdana@example.com",
                    "updateAt": null,
                    "createdAt": "2023-03-29T16:34:39.298Z"
                  }
                ]
                }
        '400':
          description: Invalid Token
  /dashboard/active-member/{uid}:
    get:
      summary: Data anggota aktif berdasarkan UID
      parameters:
        - in: path
          name: uid
          required: true
          schema:
            type: string
          description: UID
      tags: 
        - Active Member
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "Tentang Kami berhasil ditampilkan",
                  "data":
                  {
                    "uid": "6209896e-5309-464d-82ed-56bd37661fb7",
                    "nama": "Naoval Annasik",
                    "jabatan": "Anggota",
                    "divisi": "Alumni",
                    "tahunAngkatan": "2020",
                    "imageUrl": "s3.adaptivenetworklab.org/website/Active-Member-Anggota.Naoval Annasik.Upload-At-2023-03-29.jpg",
                    "updateAt": null,
                    "createdAt": "2023-03-29T08:26:42.191Z"
                  }
                }
        '400':
          description: Invalid Token
        '404':
          description: UID not found
          content:
            application/json:
              example:
                {
                  "status": "error",
                  "message": "Tidak ada data"
                }
    put:
      security:
        - AuthToken: []
      summary: Ubah data anggota aktif berdasarkan UID
      tags: 
        - Active Member
      parameters:
        - in: path
          name: uid
          required: true
          schema:
            type: string
          description: UID
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/activemember'
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "Tentang Kami berhasil diubah"
                }
        '404':
          description: UID not found
          content:
            application/json:
              example:
                {
                  "status": "error",
                  "message": "Tidak ada data"
                }
    delete:
      security:
        - AuthToken: []
      summary: Hapus data anggota aktif berdasarkan UID
      tags: 
        - Active Member
      parameters:
        - in: path
          name: uid
          required: true
          schema:
            type: string
          description: UID
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "Tentang Kami berhasil dihapus"
                }
        '404':
          description: UID not found
          content:
            application/json:
              example:
                {
                  "status": "error",
                  "message": "Tidak ada data"
                }
  /dashboard/landing-page-editor/tentang-kami:
    post:
      security:
        - AuthToken: []
      tags: 
        - Landing Page
      summary: Input data "Tentang Kami"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tentangkami'
      responses:
        '201':
          description: created
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message":"Tentang Kami berhasil ditambahkan",
                  "data": {
                    "uid": "6a99ef60-8282-40f5-9294-2f3dc3c9e979",
                    "judul": "Tentang Kami",
                    "isi": "Lorem Ipsum Dolor",
                    "updateAt": null,
                    "_id": "641e1e8528c5e43a7df6e728",
                    "createdAt": "2023-03-24T22:04:53.917Z"
                  }
                }
        '500':
          description: error
    get:
      security:
        - AuthToken: []
      tags: 
        - Landing Page
      summary: Daftar data "Tentang Kami"
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "Tentang Kami berhasil ditampilkan",
                  "data": {
                    "uid": "6a99ef60-8282-40f5-9294-2f3dc3c9e979",
                    "judul": "Tentang Kami",
                    "isi": "Lorem Ipsum Dolor",
                    "updateAt": null,
                    "createdAt": "2023-03-24T22:11:41.147Z"
                  }
                }
        '400':
          $ref: '#/components/responses/Unauthorized'
  /dashboard/landing-page-editor/tentang-kami/{uid}:
    put:
      tags: 
        - Landing Page
      summary: Perbarui Data Berdasarkan UID
      security:
        - AuthToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tentangkami'
      parameters:
        - in: path
          name: uid
          required: true
          schema:
            type: string
          description: UID
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "Tentang Kami berhasil diubah",
                }
        '404':
          description: User not found
          content:
            application/json:
              example:
                {
                  "status": "error",
                  "message": "Tentang Kami tidak ditemukan"
                }
    delete:
      tags: 
        - Landing Page
      summary: Hapus data berdasarkan UID
      security:
        - AuthToken: []
      parameters:
        - in: path
          name: uid
          required: true
          schema:
            type: string
          description: UID
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "success": "success",
                  "message": "Tentang Kami berhasil dihapus"
                }   
        '404':
          description: UID not found
          content:
            application/json:
              example:
                {
                  "status": "error",
                  "message": "Tentang Kami tidak ditemukan"
                }
  /dashboard/landing-page-editor/tentang-kami-sejarah:
    post:
      tags: 
        - Landing Page
      summary: Input data Tentang Sejarah Lab
      security:
        - AuthToken: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/tentangkamisejarah'
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "Tentang Kami Sejarah berhasil ditambahkan",
                  "data": {
                    "uid": "6607cd11c-b437-49f3-a735-9c9248cb047b",
                    "judul": "Adaptive Network Lab",
                    "isi": "Adaptive Network Lab",
                    "imageUrl": "s3.adaptivenetworklab.org/website/$Tentang-Kami-2020.Upload-At-2023-03-26.jpg",
                    "_id": "641fe629e23964b1f90ce5ca",
                    "createdAt": "2023-03-24T22:11:41.147Z"
                  },
                  "updateAt": null
                }
        '400':
          description: Invalid Token
    get:
      tags: 
        - Landing Page
      summary: Daftar data tentang sejarah Lab
      security:
        - AuthToken: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "Tentang Kami Sejarah berhasil ditampilkan",
                  "data": {
                    "uid": "6607cd11c-b437-49f3-a735-9c9248cb047b",
                    "judul": "Adaptive Network Lab",
                    "isi": "Adaptive Network Lab",
                    "tahun": "2020",
                    "imageUrl": "s3.adaptivenetworklab.org/website/$Tentang-Kami-2018.Upload-At-2023-03-25.png",
                    "createdAt": "2023-03-17T11:04:09.588Z"
                  }
                }
        '400':
          description: Invalid Token
  /dashboard/landing-page-editor/tentang-kami-sejarah/{uid}:
    put:
      tags: 
        - Landing Page
      summary: Perbarui Data Berdasarkan UID
      security:
        - AuthToken: []
      parameters:
        - in: path
          name: uid
          required: true
          schema:
            type: string
          description: UID dari user
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/tentangkamisejarah'
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "success": "success",
                  "message": "Tentang Kami Sejarah berhasil diubah"
                }   
        '404':
          description: UID Not Found
          content:
            application/json:
              example:
                {
                  "success": "error",
                  "message": "Uid tidak ditemukan"
                }
        '400':
          description: Invalid Token
        '500':
          description: Error
          content:
            application/json:
              example:
                {
                  "success": "error",
                  "message": {}
                }
    delete:
      tags: 
        - Landing Page
      summary: Hapus data berdasarkan UID
      security:
        - AuthToken: []
      parameters:
        - in: path
          name: uid
          required: true
          schema:
            type: string
          description: UID dari user
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "success": "success",
                  "message": "Tentang Kami Sejarah berhasil dihapus"
                }   
        '404':
          description: UID Not Found
          content:
            application/json:
              example:
                {
                  "success": "error",
                  "message": "Tentang Kami Sejarah tidak ditemukan"
                }
  /dashboard/landing-page-editor/struktur-organisasi:
    post:
      tags: 
        - Landing Page
      summary: Input data struktur organisasi
      security:
        - AuthToken: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/strukturorganisasi'
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "Struktur Organisasi berhasil ditambahkan",
                  "data": {
                    "uid": "e676ba69-9e50-4545-a71e-c63ec856bb86",
                    "judul": "Adaptive Network Lab",
                    "imageUrl": "s3.adaptivenetworklab.org/website/Struktur-Organisasi-Upload-At-2023-03-26.jpg",
                    "updateAt": null,
                    "_id": "641feaf1e23964b1f90ce5d7",
                    "createdAt": "2023-03-26T06:49:21.706Z"
                  }
                }
        '400':
          description: Invalid Token
    get:
      tags: 
        - Landing Page
      summary: Daftar data struktur organisasi
      security:
        - AuthToken: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "Struktur Organisasi berhasil didapatkan",
                  "data": [
                    {
                      "uid": "e676ba69-9e50-4545-a71e-c63ec856bb86",
                      "judul": "Noval Annasik",
                      "imageUrl": "s3.adaptivenetworklab.org/website/Struktur-Organisasi-Upload-At-2023-03-25.png",
                      "updateAt": null,
                      "createdAt": "2023-03-25T22:11:01.015Z"
                    },
                    {
                      "uid": "e676ba69-9e50-4545-a71e-c63ec856bb86",
                      "judul": "Adaptive Network Lab",
                      "imageUrl": "s3.adaptivenetworklab.org/website/Struktur-Organisasi-Upload-At-2023-03-26.jpg",
                      "updateAt": null,
                      "createdAt": "2023-03-26T06:49:21.706Z"
                    }
                  ],
                  "updateAt": null
                }
        '400':
          description: Invalid Token
        '404':
          description: No Data Found
          content:
            application/json:
              example:
                {
                  "success": "error",
                  "message": "Tidak ada Struktur Organisasi yang tersedia"
                }
  /dashboard/landing-page-editor/struktur-organisasi/{uid}:
    get:
      tags: 
        - Landing Page
      summary: List data berdasarkan UID
      parameters:
        - in: path
          name: uid
          required: true
          schema:
            type: string
          description: UID dari data
      security:
        - AuthToken: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "Struktur Organisasi berhasil didapatkan",
                  "data": {
                    "uid": "e676ba69-9e50-4545-a71e-c63ec856bb86",
                    "judul": "Noval Annasik",
                    "imageUrl": "s3.adaptivenetworklab.org/website/Struktur-Organisasi-Upload-At-2023-03-25.png",
                    "updateAt": null,
                    "createdAt": "2023-03-25T22:11:01.015Z"
                  },
                  "updateAt": null
                }
        '400':
          description: Invalid Token
        '404':
          description: No Data Found
          content:
            application/json:
              example:
                {
                  "success": "error",
                  "message": "Tidak ada Struktur Organisasi yang tersedia"
                }
    put:
      tags: 
        - Landing Page
      summary: Perbarui Data Berdasarkan UID
      security:
        - AuthToken: []
      parameters:
        - in: path
          name: uid
          required: true
          schema:
            type: string
          description: UID dari data
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/strukturorganisasi'
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "success": "success",
                  "message": "Struktur Organisasi berhasil diupdate",
                  "data": {
                    "acknowledged": true,
                    "modifiedCount": 1,
                    "upsertedId": null,
                    "upsertedCount": 0,
                    "matchedCount": 1
                  },
                  "updateAt": "2023-03-26T07:00:58.805Z"
                }   
        '404':
          description: UID Not Found
          content:
            application/json:
              example:
                {
                  "success": "error",
                  "message": "Struktur Organisasi tidak ditemukan"
                }
        '400':
          description: Invalid Token
    delete:
      tags: 
        - Landing Page
      summary: Hapus data berdasarkan UID
      security:
        - AuthToken: []
      parameters:
        - in: path
          name: uid
          required: true
          schema:
            type: string
          description: UID dari data
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "success": "success",
                  "message": "Struktur Organisasi berhasil dihapus"
                }   
        '404':
          description: UID Not Found
          content:
            application/json:
              example:
                {
                  "success": "error",
                  "message": "Struktur Organisasi tidak ditemukan"
                }
        '400':
          description: Invalid Token
  /dashboard/landing-page-editor/sambutan-pembina:
    post:
      tags: 
        - Landing Page
      summary: Input data sambutan pembina
      security:
        - AuthToken: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/sambutanpembina'
      responses:
        '201':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "Sambutan Pembina berhasil ditambahkan",
                  "data": {
                    "judul": "Sambutan Pembina",
                    "isi": "Lorem Ipsum",
                    "namaPembina": "Ridha Muldina Negara",
                    "imageUrl": "s3.adaptivenetworklab.org/website/Pembina-Lab-Upload-At-2023-03-26.jpg",
                    "createdAt": "2023-03-26T07:19:06.825Z",
                    "_id": 0
                  },
                  "updateAt": null
                }
        '400':
          description: Invalid Token
    get:
      tags: 
        - Landing Page
      summary: Daftar data sambutan pembina
      security:
        - AuthToken: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "Sambutan Pembina berhasil ditampilkan",
                  "data": [
                    {
                      "_id": 0,
                      "judul": "Sambutan Pembina",
                      "isi": "Lorem Ipsum",
                      "namaPembina": "Ridha Muldina Negara",
                      "imageUrl": "s3.adaptivenetworklab.org/website/Pembina-Lab-Upload-At-2023-03-26.jpg",
                      "createdAt": "2023-03-26T07:09:34.309Z"
                    },
                    {
                      "_id": 1,
                      "judul": "Sambutan Pembina",
                      "isi": "Lorem Ipsum",
                      "namaPembina": "Ridha Muldina Negara",
                      "imageUrl": "s3.adaptivenetworklab.org/website/Pembina-Lab-Upload-At-2023-03-26.jpg",
                      "createdAt": "2023-03-26T07:19:06.825Z"
                    }
                  ]
                }
        '400':
          description: Invalid token
        '404':
          description: No Data Found
          content:
            application/json:
              example:
                {
                  "success": "error",
                  "message": "Tidak ada Struktur Organisasi yang tersedia"
                }
  /dashboard/landing-page-editor/sambutan-pembina/{id}:
    get:
      tags: 
        - Landing Page
      summary: List data berdasarkan ID
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: UID dari data
      security:
        - AuthToken: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "Sambutan Pembina berhasil ditampilkan",
                  "data": {
                    "_id": 0,
                    "judul": "Sambutan Pembina",
                    "isi": "Lorem Ipsum",
                    "namaPembina": "Ridha Muldina Negara",
                    "imageUrl": "s3.adaptivenetworklab.org/website/Pembina-Lab-Upload-At-2023-03-26.jpg",
                    "createdAt": "2023-03-26T07:09:34.309Z"
                  }
                }
        '400':
          description: Invalid token
        '404':
          description: No Data Found
          content:
            application/json:
              example:
                {
                  "success": "error",
                  "message": "Sambutan Pembina tidak ditemukan"
                }
    put:
      tags: 
        - Landing Page
      summary: Perbarui Data Berdasarkan ID
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: ID dari data
      security:
        - AuthToken: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/sambutanpembina'
      responses:
        '201':
          description: Success
          content:
            application/json:
              example:
                {
                  "success": "success",
                  "message": "Sambutan Pembina berhasil diupdate",
                  "data": {
                    "_id": 0,
                    "judul": "Sambutan Pembina Edit",
                    "isi": "Lorem Ipsum Dolor",
                    "namaPembina": "Ridha Muldina Negara",
                    "imageUrl": "s3.adaptivenetworklab.org/website/Pembina-Lab-Upload-At-2023-03-26.jpg",
                    "createdAt": "2023-03-26T07:09:34.309Z"
                  },
                  "updateAt": "2023-03-26T07:23:07.127Z"
                }
        '404':
          description: ID Not Found
          content:
            application/json:
              example:
                {
                  "success": "error",
                  "message": "Sambutan Pembina tidak ditemukan"
                }
        '400':
          description: Invalid Token
        '500':
          description: Error
          content:
            application/json:
              example:
                {
                  "success": "error",
                  "message": {}
                }
    delete:
      tags: 
        - Landing Page
      summary: Hapus data berdasarkan ID
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: ID dari data
      security:
        - AuthToken: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "success": "success",
                  "message": "Sambutan Pembina berhasil dihapus"
                }   
        '404':
          description: ID Not Found
          content:
            application/json:
              example:
                {
                  "success": "error",
                  "message": "Sambutan Pembina tidak ditemukan"
                }
        '400':
          description: Invalid Token
  /dashboard/user/login:
    post:
      tags:
        - User Dashboard
      summary: Login akun yang telah terdaftar
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/login'
      responses:
        '201':
          description: created
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message":"Login berhasil",
                  "data": {
                    "userId": "1",
                    "name": "Naoval Annasik",
                    "username": "annasiknvl",
                    "email": "annasiknvl@example.com",
                    "roleId": 1,
                    "token": "token-here"
                  }
                }
  /dashboard/user/register:
    post:
      tags:
        - User Dashboard
      summary: Buat dan daftar akun baru
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/register'
      responses:
        '201':
          description: created
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message":"User berhasil ditambahkan",
                  "data": {
                    "userId": "1",
                    "name": "Naoval Annasik",
                    "username": "annasiknvl",
                    "email": "annasiknvl@example.com",
                    "roleId": 1,
                    "createdAt": "userSaved.createdAt",
                    "updatedAt": "userSaved.updatedAt"
                  }
                }
        '400':
          description: Bad Request
        '409':
          description: Conflict
          content:
            application/json:
              examples:
                emailExist:
                  value:
                    {
                      message: "Email already exists"
                    }
                usernameExist:
                  value:
                    {
                      message: "Username already exists"
                    }
  /dashboard/user/:
    get:
      security:
        - AuthToken: []
      tags:
        - User Dashboard
      summary: Daftar akun yang terdaftar
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "Daftar user berhasil didapatkan",
                  "data": {
                    "_id": "641449298fc28ccb4f548c5d",
                    "userId": "e8e59d4c-d929-4b7e-afe7-632efd8bec30",
                    "name": "Naoval Annasik",
                    "username": "annasiknvl",
                    "password": "$2b$10$FpiVDEbcTci2kV9hcgaTwex./eyBDrUoOPtzSMjZU5I93qIutgJQ2",
                    "email": "annasiknvl@example.com",
                    "roleId": 1,
                    "createdAt": "2023-03-17T11:04:09.588Z",
                    "updatedAt": null
                  }
                }
        '400':
          $ref: '#/components/responses/Unauthorized'
  /dashboard/user/{userId}:
    get:
      security:
        - AuthToken: []
      tags:
        - User Dashboard
      summary: Melihat detail user berdasarkan ID
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: string
          description: ID dari user
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "User berhasil didapatkan",
                  "data": {
                    "_id": "641449298fc28ccb4f548c5d",
                    "userId": "e8e59d4c-d929-4b7e-afe7-632efd8bec30",
                    "name": "Naoval Annasik",
                    "username": "annasiknvl",
                    "password": "$2b$10$FpiVDEbcTci2kV9hcgaTwex./eyBDrUoOPtzSMjZU5I93qIutgJQ2",
                    "email": "annasiknvl@example.com",
                    "roleId": 1,
                    "createdAt": "2023-03-17T11:04:09.588Z",
                    "updatedAt": null
                  }
                }
        '404':
          description: User not found
    put:
      security:
        - AuthToken: []
      tags:
        - User Dashboard
      summary: Memperbarui detail user berdasarkan ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/register'
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: string
          description: ID dari user
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "status": "success",
                  "message": "User berhasil diupdate",
                }
        '404':
          description: User not found
    delete:
      security:
        - AuthToken: []
      tags:
        - User Dashboard
      summary: Menghapus User berdasarkan ID
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: string
          description: ID dari user
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                {
                  "success": "success",
                  "message": "User berhasil dihapus"
                }   
        '404':
          description: User not found
components:
  responses:
    Unauthorized:
      description: not authorized to access the resource
      content:
        application/json:
          examples:
            Unauthorized:
              value:
                {
                  "status": "Unauthorized",
                  "message": "No Token, Access denied",
                  "success": false
                }
            invalidToken:
              value:
                {
                  "status": "Unauthorized",
                  "message": "Invalid Token",
                  "success": false
                }
            invalidRole:
              value:
                {
                  "message": "You are not authorized to access this resource",
                  "success": false
                }
  schemas:
    login:
      type: object
      properties:
        username:
          type: string
          example: annasiknvl
        password:
          type: string
          example: 12345678
    register:
      type: object
      properties:
        name:
          type: string
          example: Naoval Annasik
        username:
          type: string
          example: annasiknvl
        password:
          type: string
          example: 12345678
        email:
          type: string
          example: annasiknvl@example.com
        roleId:
          type: string
          example: 1
    tentangkami:
      type: object
      properties:
        judul:
          type: string
          example: Tentang Kami
        isi:
          type: string
          example: Lorem Ipsum Dolor
    strukturorganisasi:
      type: object
      properties:
        judul:
          type: string
          example: Adaptive Network Lab
        imageUrl:
          type: string
          format: binary
    tentangkamisejarah:
      type: object
      properties:
        judul:
          type: string
          example: lorem ipsum dolor sit amet
        isi:
          type: string
          example: lorem ipsum
        tahun:
          type: string
          example: 2020
        imageUrl:
          type: string
          format: binary
    sambutanpembina:
        type: object
        properties:
          judul:
            type: string
            example: Sambutan Pembina
          isi:
            type: string
            example: Lorem Ipsum
          namaPembina:
            type: string
            example: Ridha Muldina Negara
          imageUrl:
            type: string
            format: binary
    activemember:
      type: object
      properties:
        nama:
          type: string
          example: Naoval Annasik
        jabatan:
          type: string
          example: Anggota
        divisi:
          type: string
          example: Riset
        tahunAngkatan:
          type: string
          example: 2020
        imageUrl:
          type: string
          format: binary
        instagram:
          type: string
          example: instagram.com/adaptivenetlab
        linkedIn:
          type: string
          example: linkedin.com/in/annasik
        email:
          type: string
          example: annasiknvl@example.com
    alumni:
      type: object
      properties:
        nama:
          type: string
          example: Naoval Annasik
        tahunAngkatan:
          type: string
          example: 2019
        judulTA:
          type: string
          example: Pengalaman saya di Program Bangkit 2022 dan Saat menjadi anak magang di paragon corp
        profesi:
          type: string
          example: Masih jadi Anak Magang
        quote:
          type: string
          example: Adaptive joss
        asalLab:
          type: string
          example: Adaptive Network Laboratory
        imageUrl:
          type: string
          format: binary
        instagram:
          type: string
          example: instagram.com/adaptivenetlab
        linkedIn:
          type: string
          example: linkedin.com/in/annasik
        email:
          type: string
          example: annasiknvl@example.com
    kegiatan:
      type: object
      properties:
        judul:
          type: string
          example: Judul utama
        subJudul:
          type: string
          example: Sub Judul
        isi:
          type: string
          example: Isi dari kegiatan
        divisi:
          type: string
          example: Riset
        imageUrl:
          type: string
          format: binary
  securitySchemes:
    AuthToken:
      type: apiKey
      name: auth-token
      in: header
